@model User

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="text-center">

    <h4>Your most Welcome @Model.UserName</h4>
    <p>This is your Dashboard Explore it and do not forgot that Channel section :)</p>

</div>





